:root {
    --primary-color: #3377DD;
    --light-blue: #F5FAFF;
    --white: #FFF;
    --light-grey: #909498;
    --fundo-botao: #F0F3FA;
    --letra-botao: #1F87FE;
}

html,body {
    margin: 0;
    height: 100%;
}

body {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    margin-bottom: 40px;
}

.menu-item {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--light-grey);
    padding: 10px 15px;

}

.menu-item:hover, .menu-item.active {
    background-color: var(--primary-color);
    border-radius: 0px 50px 50px 0px;
    color: var(--white);
}

.menu-item:hover a, .menu-item.active a {
    color: var(--white);
}

.menu-item a {
    text-decoration: none;
    color: var(--light-grey);
}

.menu-item a:hover {
    color: var(--white);
}

.content-wrapper {
    display: flex;
    flex-wrap: nowrap;
    /*width: 100%;*/
    /*height: 100%;*/
    /*max-height: 100vh;*/
}

header {
    background-color: var(--white);
    border-left: 15px solid var(--primary-color);
    padding: 30px 30px 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    max-width: 170px;
}

main {
    background-color: var(--light-blue);
    flex-grow: 1;
    padding: 30px;
}

.section-wrapper {
    height: 100%;
}

#loading {
   display: flex;
   justify-content: center;
    height: 100%;
    align-items: center;
}

#loading img {
    width: 45px;
    height: 45px;
}

#logout {
    font-size: 20px;
    display: flex;
    align-items: center;
    color: var(--light-grey);
    padding-bottom: 20px;
    cursor: pointer;
    margin-top: auto;
}

#logout .material-symbols-outlined {
    font-size: 30px;
}

.bg-custom-primary{
    background-color: var(--primary-color);
}

.card-body, .table {
    font-size: 16px;
    color: #666;
    vertical-align: middle;
    line-height: 16px;
}

.table tbody tr td img {
    margin-right: 25px;
}


.box-shaddow-icon {
    box-shadow: 5px 7px 15px 0px rgba(0, 0, 0, 0.35);
    border-radius: 20%;
    width:40px;
    height: 40px;
}

.table thead tr th{
    color: #999999;
    font-size: 12px;
}

.card-body, .table {
    font-size: 16px;
    color: #666;
}

.card-title {
    margin: 10px;
    color:black;
}

.btn-sm {
    background-color: var(--fundo-botao);
    color: var(--letra-botao);
    border: none;
    font-size: 14px;
    font-weight: bold;
}

.btn-sm:hover {
    background-color: #4182f9;
}

.w-100{
    background-color: var(--fundo-botao);
    color: var(--letra-botao);
    border: none;
    font-size: 14px;
    font-weight: bold;
}

.w-100:hover {
    background-color: #4182f9;
    color: #FFF !important; 
}

tbody .data-hora{
    color: #219653;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.mb-3 {
    margin-bottom: 1.5rem;
}

.box-shaddow-icon{
    cursor: pointer;
}

.card.informativo {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 10px;
}

.card-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #5A5A5A;
}

.card-body p,
.card-body ul {
    color: #4A4A4A;
    font-size: 1rem;
}

.card-body h5 {
    font-size: 1.2rem;
    color: #333;
    margin-top: 20px;
    font-weight: bold;
}

.card-body ul {
    margin-left: 5px;
}

.card-body ul li {
    margin-bottom: 10px;
    font-size: 1rem;
}

.card-body strong {
    color: #007bff;
}

.total:hover{
    color: #ffffff;
}
