@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");


/*-------------------------------------------------------------------------------------------------------
*
*   Classe para definir os estilos para citaÃ§Ãµes
*
*-------------------------------------------------------------------------------------------------------*/
.puv_quote{
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    width: 80%;
    margin: 10px auto;
    /*border: 1px solid #ddd;*/
    /*padding: 1rem;*/
  }
  .puv_quote p {
      text-rendering: optimizeLegibility;
  }
  .puv_quote blockquote {
      border-radius: 3px;
      position: relative;  /*  <--- */
      font-style: italic;
      text-align: center;
      color: darkslategray;
      padding: 1rem 1.2rem;
      width: 80%;  /* create space for the quotes */
      margin: 1rem auto 2rem;
      border-left: none;
  }
  /* -- create the quotation marks -- */
  .puv_quote blockquote:before,
  .puv_quote blockquote:after{
      font-family: FontAwesome;
      position: absolute;
      /* -- inside the relative position of blockquote -- */
      top: 13px;
      color: #E8E8E8;
      font-size: 34px;
  }
  .puv_quote blockquote:before{
      content: url("https://pucminas.instructure.com/courses/8763/files/638961/preview");
      margin-right: 13px;
      right: 100%;
  }
  .puv_quote blockquote:after{
      content: url("https://pucminas.instructure.com/courses/8763/files/638962/preview");
      margin-left: 13px;
      left: 100%;  
      top: 60%;
  }

/*-------------------------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------------------------
*
*   Classe para definir os estilos para box composto por imagem | texto
*
*-------------------------------------------------------------------------------------------------------*/

[class*='puv_box'] {
    border: none;
	box-shadow: none;
	/*border-radius: 10px;*/
    position: relative;
    margin: 20px auto;
    display: flex;
    box-sizing: border-box;
    text-align: justify;
}
[class*='puv_box']>.icon {
    float: left;
    /*height: 100%;*/
	width: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
}
[class*='puv_box']>.icon:before {
    font-family: FontAwesome;
    content: '';
    font-size: 40px;
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}
[class*='puv_box']>.text {
    float: right;
    text-rendering: optimizeLegibility;
	width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
	border-left: 1px solid;
    padding-left: 2%;
    padding-right: 2%;
}

/*-------------------------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------------------------
*
*   CustomizaÃ§Ã£o dos estilos dos boxes
*
*-------------------------------------------------------------------------------------------------------*/

.puv_box_info_compass {
	background-color: #dde1ec;
}
.puv_box_info_compass>.icon:before {
    /*background-image: url("icone-bussola.svg");*/
    background-image: url(https://pucminas.instructure.com/courses/8763/files/582863/preview);
    background-size: auto 10vmin;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    
    margin-left: auto;
    margin-right: auto;
    display: flex;
    resize: both;
}


.puv_box_info_lightbulb {
    background-color: #c5d7e7;
}
.puv_box_info_lightbulb>.icon:before {
    background-image: url(https://pucminas.instructure.com/courses/8763/files/582865/preview);
    background-size: auto 10vmin;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    
    margin-left: auto;
    margin-right: auto;
    display: flex;
}


.puv_box_info_book {
    border: #ced9df solid 2px;
}
.puv_box_info_book>.icon:before {
    background-image: url(https://pucminas.instructure.com/courses/8763/files/582864/preview);
    background-size: auto 10vmin;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    
    margin-left: auto;
    margin-right: auto;
    display: flex;
}


.puv_box_videoaula {
    border: #ced9df solid 2px;
}
.puv_box_videoaula>.icon:before {
    background-image: url(https://pucminas.instructure.com/courses/8763/files/5994545/preview);
    background-size: auto 10vmin;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

/*-------------------------------------------------------------------------------------------------------*/

  h1.page-title{
      display: none;
  }
  
  h2.course-title.ellipsis{
      display: none;
  }

  #course_section_sis_source_id {
    width: 350px !important;
  }